---
import PageHeader from '../components/PageHeader.astro';
import Container from '../components/Container.astro';
import ChatBot from '../components/Chatbot';

const title = "About me";
const description = "Ask the chatbot about me!";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Container>
      <PageHeader
        title={title}
        description={description}
      />
      <ChatBot />
    </Container>
  </body>
</html> 
