---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<div class="text-center mb-8">
  <h1 class="text-4xl font-bold text-gray-100 tracking-tight sm:text-6xl mb-4">
    {title}
  </h1>
  {description && (
    <p class="text-lg leading-8 text-gray-200 dark:text-gray-400">
      {description}
    </p>
  )}
</div> 
