---
import { prisma } from '../lib/prisma';
import ProjectCard from './ProjectCard.astro';

const projects = await prisma.project.findMany({
  orderBy: {
    relevance: 'desc',
  },
  include: {
    images: true,
    libs: true,
  },
});
---

<div class="grid gap-8">
  {projects.map((project) => (
    <div class="my-5">
      <ProjectCard project={project} />
    </div>
  ))}
</div> 
